@import './GlobalVars.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 1.2rem;
}

html, body, #root {
	height: 100%;
	overflow: hidden;
}

h1 {
	margin: revert;
}

.button {
	color: $color;
	background-color: lighten( $bg, 10% );
	border: $border-width solid $button-border;
	padding-block: 0.1rem;
    padding-inline: 0.2rem;
	cursor: pointer;

	&:hover {
		border-color: $color;
	}

	&:active {
		border-color: $primary-color;
	}
}